/*

Tooplate 2126 Antique Cafe

https://www.tooplate.com/view/2126-antique-cafe

*/


body {
    font-family: 'Raleway', sans-serif;
    background-color: #666;
}

p a {
	color: #FF6;
}

p a:hover {
	color: #9FF;
}

#about p a { color: #066; }
#about p a:hover { color: #F36; }

#contact p a { color: #066; }

footer span a { color: #FFF; }

#gallery {
    position: relative;
    width: 100%;
    height: 100vh;  /* Adjust height based on the desired view */
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


.slider {
    width: 100%; 
    height: 100%; 
    position: relative;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.list {
    display: flex; 
    align-items: center; 
    height: 100%;
    width: 100%;
}

.item {
    flex: 0 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%; 
}

.item img {
    max-width: 100%; 
    max-height: 100%; 
}

/* .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%; 
    height: 90%; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;  
    box-sizing: border-box; 
}


.slider {
    width: 100%;                
    max-width: 150vw;          
    height: 500px;   
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 100%;                
    height: 100%;               
    object-fit: cover;
}

.item {
    width: 100%;              
} */

.buttons {
    position: absolute;
    top: 45;
    left: 5;
    width: 90;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d3b59b;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

.tm-logo-font {
    font-family: 'Oswald', sans-serif;
}

.tm-container {
    max-width: 1200px;
}

.parallax-window {
    min-height: 1064px;
    background: transparent;
}

.tm-text-yellow {
    color: #FC6;
}

.tm-text-gold {
    color: #CC9966;
}

.tm-text-brown {
    color: #b76217;
    /* color: #544639; */
    /* color: rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.5); */


}

/* h2 {
    background-color: rgba(0, 0, 0, 0.5);
} */

.background-calendar {
    background-color: rgba(0, 0, 0, 0.5);
}

.tm-text-green {
    color: #006666;
}

a.tm-bg-green:hover {
    background-color: #0a8585;
}

.tm-bg-brown {
    /* background-color: #544639; */
    /* background-color: #d5c5b7; */
    background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-green {
    background-color: #006666;
}

.tm-border-gold {
    border-color: #CC9966;
}

.tm-intro-width {
    max-width: 436px;
}

.tm-item-container {
    max-width: 520px;
}

.input:focus {
    outline: none !important;
    border:1px solid #CC9966;
    box-shadow: 0 0 10px #b67533;
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 212, 212);
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(214, 212, 212);
}
  
input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(214, 212, 212);
}

#tm-nav {
    z-index: 1000;
    transition: all 0.3s ease;
}

#tm-nav.scroll {
    background-color: rgba(0,0,0,0.7);
}

#tm-nav li a {
    border-bottom-color: transparent;
    transition: all 0.3s ease;
}

#tm-nav li a.current,
#tm-nav li a:hover {
      border-bottom: 4px solid #CC9966;
}

.tm-text-2xl {
    font-size: 1.2rem;
    line-height: 2rem;
}

img {
    width: 50%; 
    height: auto; 
}

@media (min-width: 768px) {
    #tm-nav.scroll .tm-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #tm-nav {
        width: auto;
        right: 0;
        border-radius: 5px;
    }
}

@media (max-width: 639px) {
    .parallax-window {
        min-height: 600px;
    }
}

@media (max-width: 370px) {
    .tm-menu-item {
        flex-direction: column;
    }

    .tm-menu-item-2 {
        flex-direction: column-reverse;
    }

    .tm-menu-item img {
        margin-bottom: 10px;
    }

    .tm-menu-item-2 img {
        margin-bottom: 10px;
    }

}
